%h3 Home

- @dates.each do |d|
  = p d[:day].strftime("%Y/%m/%d")
  #{link_to "登録", {:controller => "sessions", :action => "new", :hima_day => d[:day]}}
  - d[:users].each do |u|
    = p u.name
  %br
